{
  "env": {
    "development": {
      "plugins": [["flow-runtime", {
        "assert": false,
        "annotate": false
      }]]
    },
    "test": {
      "plugins": [["flow-runtime", {
        "assert": false,
        "annotate": false
      }]]
    }
  }
}

